{% extends "base.html" %} {% block title %}Customer Relation {% endblock %} {%
block content %}
<h1 style="margin-top: 1.5vh">Customer Relation</h1>
{% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
messages %}
<p>{{msg}}</p>
{% endfor %} {% endif %} {% endwith %}
<div align="center">
  <table>
    <h1>
      <!--Displaying the converted table-->
      {% for table in tables %}
      <h2>{{titles[loop.index]}}</h2>
      {{ table|safe }} {% endfor %}
    </h1>
  </table>
</div>
{% endblock %}
